@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

header{
    height: 100px;
    display: flex;
    background: #3f8f8d;
    color: #eee;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

header h1{
    width: 100%;
}

main{
    width: 90%;
    margin: auto;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-top: 95px;
    margin-left: 205px;
}

table, td, th {
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    font-size: 20px;
    background-color: ;
}

tr:nth-child(odd){
    background-color: #f6b8d1;
}

tr:nth-child(even){
    background-color: #ffd3de;
}


table td{
    text-align: center;

    margin-top: 10px;
    margin-bottom: 10px;
    justify-items: center;
    padding-bottom: 40px;
}

table th{

  background-color:  #ffc0d0  ; 
  height: 50px;
  padding-top: 16px;


}
  
table {
    width: 100%;
    border-collapse: collapse;

}


form{
    border: dotted 1px black;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    margin-bottom: 200px;
}

label {

    font-size: 20px;
    margin-bottom: 10px;

}
.input{
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}

select{
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
    font-size: 20px;
}


.formContet{
    margin: 50px;
}

#save{
    background-color: #609c4d;
    color: white;
    font-size: 20px;
    padding: 5px;
}

#clear{
    background-color: #ac0d0d;
    color: white;
    font-size: 20px;
    padding: 5px;

}

footer{
    height: 100px;
    display: flex;
    background: #3f8f8d;
    color: #eee;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    width: 100%;


}

footer p{
    width: 100%;
}